[submodule "swete-admin/modules/g2"]
	path = swete-admin/modules/g2
	url = https://github.com/shannah/xataface-module-g2.git
[submodule "swete-admin/xataface"]
	path = swete-admin/xataface
	url = https://github.com/shannah/xataface.git
[submodule "swete-admin/modules/ckeditor"]
	path = swete-admin/modules/ckeditor
	url = https://github.com/shannah/xataface-module-ckeditor.git
[submodule "swete-admin/modules/uitk"]
	path = swete-admin/modules/uitk
	url = https://github.com/shannah/xataface-module-uitk.git
[submodule "swete-admin/modules/excel"]
	path = swete-admin/modules/excel
	url = https://github.com/shannah/xataface-module-excel.git