<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".ini" allowed="false" />
                                </fileExtensions>
                       	 </requestFiltering>

		</security>
                <rewrite>
                    <rules>
                       <rule name="Imported Rule 2" stopProcessing="true">
                            
                            <match url="^(.*)$" ignoreCase="false" />
                            <conditions>
                                <add input="{URL}" pattern="^/swete-admin" ignoreCase="false" negate="true" />
                            </conditions>
                            <action type="Rewrite" url="swete-admin/index.php?-action=swete_handle_request" appendQueryString="true" />
                        </rule>
                    </rules>
                </rewrite>
	</system.webServer>
</configuration>