{foreach from=$results item=row}
    <table>
        {if $ENV.APPLICATION.enable_static}
            <tr>
                <th># Pages</th>
                <td class="right">
                    <a href="{$ENV.DATAFACE_SITE_HREF}?-action=list&amp;-table=webpages&website_id={$row->website_id|escape}">
                        {$row->numpages|escape}
                    </a>
                </td>
            </tr>
        {/if}
        <tr>
            <th># Phrases</th>
            <td class="right">
                <a href="{$ENV.DATAFACE_SITE_HREF}?-action=list&amp;-table=swete_strings&amp;website_id={$row->website_id|escape}">
                    {$row->numphrases|escape}
                </a>
            </td>
        </tr>
        <tr>
            <th># Words</th>
            <td class="right">
                <a href="{$ENV.DATAFACE_SITE_HREF}?-action=list&amp;-table=swete_strings&amp;website_id={$row->website_id|escape}">
                    {$row->numwords|escape}
                </a>
            </td>
        </tr>
        <tr>
            <th># Translated Phrases</th>
            <td class="right">
                <a href="{$ENV.DATAFACE_SITE_HREF}?-action=list&amp;-table=swete_strings&amp;website_id={$row->website_id|escape}&amp;normalized_translation_value=&gt;">	
                    {$row->translated_phrases|escape}
                </a>
            </td>
        </tr>
        <tr>
            <th># Untranslated Phrases</th>
            <td class="right">
                <a href="{$ENV.DATAFACE_SITE_HREF}?-action=list&amp;-table=swete_strings&amp;website_id={$row->website_id|escape}&amp;normalized_translation_value==">
                    {$row->untranslated_phrases|escape}
                </a>
            </td>
        </tr>
        <tr>
            <th># Translated Words</th>
            <td class="right">
                <a href="{$ENV.DATAFACE_SITE_HREF}?-action=list&amp;-table=swete_strings&amp;website_id={$row->website_id|escape}&amp;normalized_translation_value=&gt;">
                    {$row->translated_words|escape}
                </a>
            </td>
        </tr>
        <tr>
            <th># Untranslated Words</th>
            <td class="right">
                <a href="{$ENV.DATAFACE_SITE_HREF}?-action=list&amp;-table=swete_strings&amp;website_id={$row->website_id|escape}&amp;normalized_translation_value==">
                    {$row->untranslated_words|escape}
                </a>
            </td>
        </tr>
            
    </table>
{/foreach}